    <div id="footer">
      <div class="bg-dark p-2">
        <div class="container">
          <div class="row">
            <div class=" footerTextM col-sm-4">
              <a href="" class="footerText">Contact</a>
            </div>
            <div class=" footerTextM col-sm-4">
              <a href="" class="footerText">Support</a>
            </div>
          </div>
           
          </div>
       
      
        <hr id = "rightsline">
        <span id="rights">All right reserved</span>
        </div>
      
      </div>
    </div>

  </body>
</html>