<%- include("../partials/header.ejs")%>

  <div class="container">
    <div class="row">
      <div class = "col-lg-6 col-sm-12">
        <form  action ="/user/<%=currentUser._id%>?_method=PUT" method="POST">
          <!-- <div class="mb-3"> email
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">firstname
            <label for="username" class="form-label">First Name</label>
            <input name="newuser[firstname]"type="text" class="form-control" id="username" >
          </div>
          <div class="mb-3">middlename
            <label for="username" class="form-label">Middle Name</label>
            <input name="newuser[middlename]" type="text" class="form-control" id="username" >
          </div>
          <div class="mb-3">Lastname
            <label for="username" class="form-label">Last Name</label>
            <input  name="newuser[lastname]"type="text" class="form-control" id="username" >
          </div>

          <div class="mb-3">phone number
            <label for="username" class="form-label">Phone Number</label>
            <input  name="newuser[phonenumber]" type="text" class="form-control" id="username" >
            <div id="emailHelp" class="form-text">Contact for delivery</div>
          </div> -->
          <div class="mb-3"><!--username-->
            <label for="username" class="form-label">Username</label>
            <input name="details[username]" type="text" class="form-control" id="username" >
          </div>
         
          <button type="submit" class="loginbutton btn btn-danger">Update</button>
        </form>
        <!-- end of form -->
      </div>
    </div>
  </div>

<%- include("../partials/footer.ejs")%>